body {
  background: #011240; }

.rest_box {
  width: 626px;
  margin: 60px auto 0; }
  .rest_box h3 {
    text-align: center;
    line-height: 100px;
    font-size: 20pxw;
    color: #fff; }
  .rest_box .text_box {
    margin: 0 0 24px 0;
    box-sizing: border-box; }
    .rest_box .text_box span {
      display: inline-block;
      width: 120px;
      height: 54px;
      line-height: 54px;
      text-align: right;
      color: #fff;
      font-size: 20px; }
    .rest_box .text_box input, .rest_box .text_box button, .rest_box .text_box .sm-btn {
      box-sizing: border-box;
      margin: 0 0 0 10px;
      padding: 0 20px;
      width: 387px;
      height: 54px;
      line-height: 54px;
      background: #fff;
      font-size: 20px; }
    .rest_box .text_box button, .rest_box .text_box .sm-btn {
      text-align: center;
      color: #fff;
      background: #003883;
      cursor: pointer; }
      .rest_box .text_box button:hover, .rest_box .text_box .sm-btn:hover {
        background: #00479f; }
    .rest_box .text_box .sm-input {
      width: 232px; }
    .rest_box .text_box .sm-btn {
      display: inline-block;
      margin: 0 0 0 8px;
      width: 142px; }
