.bg-opcity
    background: rgba(4,40,120,0.3)
.main-left
.hobby_box
    padding: 0 20px
    box-sizing: border-box
    .hobdy-dec
        width: 100%
        height: 400px
           
            
.main-center
    .job
        .h3-titel
            padding: 0 0 0 20px
        
        .job-list
            padding: 22px 5%  30px
            li
                position: relative
                width: 33.33%
                height: 226px
              
                
                h3
                    text-align: center
                    line-height: 56px
                    font-size: 20px 
                    font-family: Alibaba-PuHuiTi-R 
                    font-weight: 400 
                    color: rgba(255,255,255,1) 
                p
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 100%
                    text-align: center
                    line-height: 56px
                    font-size: 18px 
                    font-family: Alibaba-PuHuiTi-B 
                    font-weight: bold 
                    color: rgba(255,255,255,1) 
            .job-item1
                background: url(../images/job3.png) no-repeat center center
            .job-item2
                background: url(../images/job2.png) no-repeat center center
            .job-item3
                background: url(../images/job1.png) no-repeat center center

    .job-time-box
        padding: 20px 0 0 0
        .job-time
            box-sizing: border-box
            margin: -10px
            .time-list
                .time_box
                    padding: 10px
                    box-sizing: border-box
                    @extend .bg-opcity
                    h3
                        padding: 0 0 0 5px
                        line-height: 20px

                    .progress
                        height: 180px
                        .bar
                            line-height: 30px
                            span
                                display: inline-block
                                width: 15%
                               
                                line-height: 34px
                            .dy-pro
                                display: inline-block
                                width: 60%  
                            
  
    .point
        padding: 20px 0 0 0
        
        .point_box
            padding: 10px
            
            box-sizing: border-box
            @extend .bg-opcity

            h3
                line-height: 20px
                padding: 0 0 0 5px
            .progress
                height: 164px
                .bar
                    line-height: 20px
                    span
                        line-height: 30px
                    .dy-pro
                        display: inline-block
                        
.progress
    margin: 10px 0 0 0
    box-sizing: border-box
    .bar
        span
            display: inline-block
            width: 10%
            font-size: 12px
        .dy-pro
            display: inline-block
            width: 75%  
            background: rgba(12,59,137,1)
            height: 10px
            .dy-bar
                background: linear-gradient(90deg,rgba(0,85,188,1) 0%,rgba(0,130,190,1) 100%)
                height: 10px

    





